include *.txt
recursive-include nysa *.md
recursive-include nysa *.json
recursive-include nysa *.v
recursive-include nysa/ibuilder/xilinx_builder *
include nysa/data/bash_complete/nysa
include nysa/ibuilder/bus/NYSA_README
