recursive-include nysa *.txt
recursive-include nysa *.md
recursive-include nysa/data/template *
recursive-include nysa *.md
recursive-include nysa *.json
recursive-include nysa *.v
recursive-include nysa/ibuilder/xilinx_builder *

#include nysa/data/bash_complete/nysa
