UARTConsole {
  background-color : black;
  color            : white;
  border-style     : outset;
  border-width     : 2px;
  border-color     : black;
  font             : 12px;
  padding          : 2px;
}

