NET "clk"          	LOC = C10 | IOSTANDARD = LVCMOS33;
NET "clk" TNM_NET       = "clk";
TIMESPEC "TS_clk"       = PERIOD "clk" 100000 kHz;

NET "gpio<0>"       LOC = B3  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "gpio<1>"       LOC = A3  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "gpio<2>"       LOC = B4  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "gpio<3>"       LOC = A4  | IOSTANDARD = LVCMOS33 | PULLDOWN;


NET "led<0>"        LOC = P4  | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = SLOW ;
NET "led<1>"        LOC = L6  | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = SLOW ;
NET "led<2>"        LOC = F5  | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = SLOW ;
NET "led<3>"        LOC = C2  | IOSTANDARD = LVCMOS18 | DRIVE = 8 | SLEW = SLOW ;


NET "rst"           LOC = V4  | IOSTANDARD = LVCMOS33 | PULLDOWN;
NET "rst"           TIG;

NET "uart_rx"       LOC = R7  | IOSTANDARD = LVCMOS33;
NET "uart_tx"       LOC = T7  | IOSTANDARD = LVCMOS33;


CONFIG VCCAUX = "3.3" ;
